# Python venv
.venv

# Phone numbers
*.csv
*.xlsx

# Recordings
recordings
recordings_tsd
*.mpeg
*.wav
*.mp3

# Language models
whisper-large-v2/
Qwen3-8B/

# Log files
logs.txt

# Pycache
__pycache__/